GitPython==3.1.27
imageio==2.9.0
infer==0.1
ipywidgets==7.5.1
kora==0.9.19
xattr
kornia==0.6.4
ldm==0.1.3
lpips==0.1.4
matplotlib==3.3.2
midas==0.4.3
noise==1.2.2
numpy==1.19.2
omegaconf==2.1.1
pandas==1.1.3
pathvalidate==2.5.0
Pillow==9.1.0
requests==2.24.0
streamlit==1.7.0
timm==0.5.4
torch==1.11.0
torchvision==0.12.0